.error-message {
    display: flex;
    align-items: center;
}

.status-message {
    display: block;
    margin-bottom: 1rem;
}

.status-message.hidden {
    display: none;
}

.contact__button {
    margin-top: 2.5rem;
}